build/
.vs/
.trash/

# VS Code
.vscode

# Paint.NET
*.pdnSave
ZakOpenGLEngine/Jelly/assets/models/lost-empire
ZakOpenGLEngine/Jelly/assets/models/pine
ZakOpenGLEngine/Jelly/deps/stb_image.h

ZakOpenGLEngine/Game/deps/stb_image.h

ZakOpenGLEngine/Graphics/deps/stb_image.h
